
* {
  padding: 5px 0;
  margin: 0;
  box-sizing: border-box;
}
.box {
  background: lightgrey;
  padding: 50px;
  border: 1px solid grey;
  background: lightblue;
  padding: 20px 10px;
  border: 1px solid black;
  min-width: 300px;
  height: auto;
  display: inline-block;
  margin: 40px;
}
h1 {
  border-bottom: 1px solid black;
}
ul {
  padding: 0;
}
li {
  list-style-type: none;
}
